[Unit]
Description=Add an extra loopback address for a DNS resolver
Before=network.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/ip addr add 127.0.0.53/8 dev lo
ExecStop=/usr/bin/ip addr del 127.0.0.53/8 dev lo
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
