[Unit]
Description=Screen lock
Requires=restrict-sysrq.service

[Service]
Type=simple
User=guns
EnvironmentFile=/etc/conf.d/slock
ExecStart=/usr/bin/slock

[Install]
WantedBy=multi-user.target
