[Unit]
Description=Screen lock
Requires=restrict-sysrq.service

[Service]
Type=simple
EnvironmentFile=/etc/conf.d/slock
ExecStart=/usr/bin/sudo -u ${USER} /usr/bin/env DISPLAY=${DISPLAY} /usr/bin/slock

[Install]
WantedBy=multi-user.target
