[Unit]
Description=Move user files to temporary directories

[Service]
Type=oneshot
ExecStart=/usr/bin/usertmpfiles

[Install]
WantedBy=multi-user.target
